body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-family: Arial, sans-serif;
}

#keyboard {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.key {
  height: 50px;
  width: 50px;
  background-color: burlywood;
  color: black;
  font-size: 17px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.key:hover {
  background-color: white;
}

.space {
  width: 200px;
  margin-top: 5px;
}

#output {
  min-height: 30px;
  text-align: center;
}
